<center>
<h1 class="text">Edit article</h1></center>
<% if @article.errors.any? %>
   <h2> the following errors are to be prevented </h2>
    <ul>
       <% @article.errors.full_messages.each do |f| %>
          <li> <%= f %> </li>
       <% end %>
    </ul>
<% end %>
<%= form_with(model: @article, local: true) do |f| %>
    <p>
       <%= f.label :title %><br>
       <%= f.text_field  :title %>
    </p>
    <p>
       <%= f.label :description %><br>
       <%= f.text_field  :description %>
    </p>
    <p class="city">
       <%= f.submit %>
    </p>
<% end %>
<p class="city"><button><%= link_to 'Cancel and return to articles', articles_path %></button></p>
<style>
.text{background-color:purple;color:white;padding:15px}
.city{background-color:skyblue;
      color:white;
      padding: 5px 10px;
      text-align:center;
      text-decoration:none;
      display:inline-block;}

</style>
</center>