<center>
<h1 class="text">Welcome to loginpage</h1>
<div class="container">
<%= form_with model: @create do|t|%>
    
    <%= t.label :username,"Username"%>
    <%= t.text_field :username, placeholder: "Enter username" %><br><br>
    
    <%= t.label :password,"Password"%>
    <%= t.password_field :password, placeholder: "Enter password" %><br><br>
    
    <%= t.label :email,"Email"%>
    <%= t.text_field :email, placeholder: "Enter email" %><br><br>

    <p class="city"><%= t.submit %></p>

    <% end %>
</div>
<style>
.text{background-color:purple;color:white;padding:15px}
.city{background-color:green;
      color:white;
      padding: 5px 10px;
      text-align:center;
      text-decoration:none;
      display:inline-block;}
</style>
<div class="container" style="background-color:#f1f1f1"></div>
<p>If you new user click here <%= link_to "User", articles_signup_path %></p>
</center>
