<h1>New article</h1>
<% if @article.errors.any? %>
   <h2> the following errors are to be prevented </h2>
    <ul>
       <% @article.errors.full_messages.each do |f| %>
          <li> <%= f %> </li>
       <% end %>
    </ul>
<% end %>
<%= form_with scope: :article, url: articles_path, local: true do |f| %>
<p>
<%= f.label :title %><br>
<%= f.text_field  :title %>
</p>
<p>
<%= f.label :description %><br>
<%= f.text_field  :description %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>
<%= link_to 'Return to articles', articles_path %>