<center><h1 class="test">New article</h1></center>
<p class="text"><%= link_to 'Dashboard', articles_about_path %></p>
<% if @article.errors.any? %>
   <h2> the following errors are to be prevented </h2>
    <ul>
       <% @article.errors.full_messages.each do |f| %>
          <li> <%= f %> </li>
       <% end %>
    </ul>
<% end %>
<%= form_with scope: :article, url: articles_path, local: true do |f| %>
<p>
<%= f.label :title %><br>
<%= f.text_field  :title %>
</p>
<p>
<%= f.label :description %><br>
<%= f.text_field  :description %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>
<%= link_to 'Return to articles', articles_path %>
<style>
.test{background-color:purple;color:white;padding:15px}
.text{background-color:skyblue;color:black;}
a:link, a:visited{ background-color:skyblue;
                   color:white;
                   padding: 5px 10px;
                   text-align:center;
                   text-decoration:none;
                   display:inline-block;}
a:hover, a:active{background-color:pink;}
</style>