<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @user.text %>
</p>
<h3>Comments</h3>
<%= render @user.comments %>
<%= render "blorgh/comments/form" %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
